#game {
  border: none;
  background: url('images/background.svg');
  background-position: center;
  background-repeat: no-repeat;
  margin: auto;
  display: block;
}

#reset-button {
  display: none;
  position: relative;
  margin: auto;
  z-index: 10;
}